.fullbleed {
     background-image:url(../images/dust_scratches.png);
     min-height: 85vh;
     padding:0;
     margin:0;
     display:flex;
     flex-direction:column;
     align-items:center;
     border-top:1px solid #dddddd;
    }
.left-align {
    padding-left:0;
}

.grey-line {
     width:100%;
     min-height:2px;
     background-color:#dddddd;
     margin-bottom:15px;
}
.grey-border {
    border:1px solid #dddddd;
}


h1,h2 {
     font-family: 'Georgia', Times, Times New Roman, serif;
     padding:15px;
     margin:0;
     float:left;
    }

nav {
    float:right;
}

nav, header {
    padding:0
}

p, a {
     font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    }

.teal-text {
     color:#4aaaa5;
    }

.white-text {
     color:white;
     background-color:#4aaaa5;
    }

.grey-text {
     color:#777777;
    }

li {
     border-right:1px solid #777777;
     padding:0 10px;
 }

 li:last-child {
     border:none;
 }

a {
     text-decoration:none;
    }

a:visited {
     color:#777777;
    }

a:hover {
     color:black;
    }

.white-background {
     background-color:white;
    }

main {
     padding:10px;
     margin-top:15px;
}

figure {
     margin:0;
     padding-bottom:15px;
     position:relative;
}

figure img {
    width:100%;
}


figcaption {
     text-align:center;
     line-height:3;
     width:calc(100% - 30px);
     position:absolute;
     bottom:25px;
}

figcaption:hover {
     color:black;
}

img {
    object-fit:contain;
}


input, textarea {
     width:100%;
     line-height:35px;
     border:1px solid #777777;
}

form {
     display:flex;
     flex-direction:column;
     justify-content:center;
}

.input-message {
     line-height:200px;
}

.submit-button {
     margin-top:10px;
     color:white;
     width:20%;
     padding:10px;
     background-color:#4aaaa5;
}

.submit-button:hover {
     color:black;
}

footer {
     display:flex;
     flex-direction:column;
     margin:0;
     padding:0;
}

.foot-fullbleed {
     background-color:#666666;
     height:100%;
     border-top:7px solid #4aaaa5;
     display:flex;
     justify-content:center;
}







